body{
    background-color: rgb(205, 212, 212);
}

.container{
    margin-top: -125px;
}
.input-container{
    width: 380px;
    padding:10px 5px;
    border-radius: 10px;
    border:none;
    margin-right:-25px;
}

.button-container{
    padding: 10px 15px;
    border:none;
    border-radius: 15px;
    background-color: orangered;
    color:white;
    
}
.card-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    grid-gap: 10px;
}